.shareBox{ overflow:visible;right:0px;background:transparent;padding-bottom:10px; line-height:20px;}
.shareBox span{vertical-align:middle}
.shareBox span.word_desc{ display:inline-block; padding-top:1px;}
.ssina_btn,.sqq_btn,.skx_btn,.srr_btn,.sdb_btn,.shxwb_btn,.ssohu_btn,.sqqz_btn{display:inline-block; margin:0px 8px; width:0px; height:20px; padding-left:16px;background:url(http://img.hexun.com/home/icons-share.gif) no-repeat 0 2px; vertical-align:middle; position:relative;}
.ssina_btn{background-position:0px -198px;}
.sqq_btn{background-position:0px -162px;}
.skx_btn{background-position:0px -37px;}
.srr_btn{background-position:0px -77px;}
.sdb_btn{background-position:0px -117px;}
.ssohu_btn{background-position:0px -234px;}
.sqqz_btn{ background-position:0px -269px;}
.shareBox a div{ position:absolute; overflow:hidden; width:0px;background:url(http://img.hexun.com/home/sharetip.gif) no-repeat 0 0px;height:20px; padding-top:2px; color:#666; text-align:center;text-decoration:none; line-height:18px; }
.shareBox a:hover{ text-decoration:none}
.shareBox a:hover div,.shareBox a .on{ top:-20px; width:91px; left:-38px}
#douban div{ background-position:0px -22px;}
#douban a:hover div,#douban .on{ top:-20px; width:91px; left:-64px}
#douban1 div{ background-position:0px -22px;}
#douban1 a:hover div,#douban1 .on{ top:-20px; width:91px; left:-64px}